@font-face {
    font-family: "Title Entropy";
    src: url('http://104.131.100.253:6543/static/fonts/basictitlefont.ttf');
}

@font-face {
    font-family: "Text Entropy";
    src: url('http://104.131.100.253:6543/static/fonts/Arvo-Regular.ttf');
}

#solarsystemmenu{
    background: rgba(0, 0, 0, 0.65);
    padding: 10px;
    width:13%;
    position: absolute;
    left: 0px;
    top: 6%;
    font-family: "Title Entropy", "Arial";
    font-size: 1.4em;
    display: inline;
}

#solarsystemmenu a:hover, a:focus {
    color: #FFF;
    text-decoration: none;
}

#solarsystemmenu.nav > li > a > b {
    padding-left:20px;
}

#solarsystemmenu.nav > li > a,
#solarsystemmenu.nav > li > a:link {
    background-color: #191919;
    color: #FFF;
}

#solarsystemmenu.nav > li > a:hover,
#solarsystemmenu.nav > li > a:focus {
    background-color: #373737;
}

#solarsystemmenu.nav-pills > li.active > a,
#solarsystemmenu.nav-pills > li.active > a:hover,
#solarsystemmenu.nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #C72A25;
}