@font-face {
    font-family: "Title Entropy";
    src: url('../../static/fonts/basictitlefont.ttf');
}

@font-face {
    font-family: "Text Entropy";
    src: url('../../static/fonts/Arvo-Regular.ttf');
}

#solarsystemmenu ul {
    background: rgba(0, 0, 0, 0.65);
    padding: 3px;
    width:13%;
    position: absolute;
    left: 0px;
    top: 6%;
    font-family: "Title Entropy", "Arial";
    font-size: 0,.8em;
    display: inline;
    line-height: 1;
}

#solarsystemmenu ul a:hover, a:focus {
    color: #FFF;
    text-decoration: none;
}

#solarsystemmenu ul.nav > li > a > b {
    padding-left:20px;
}

#solarsystemmenu ul.nav > li > a,
#solarsystemmenu ul.nav > li > a:link {
    background-color: #191919;
    color: #FFF;
}

#solarsystemmenu ul.nav > li > a:hover,
#solarsystemmenu ul.nav > li > a:focus {
    background-color: #373737;
}

#solarsystemmenu ul.nav-pills > li.active > a,
#solarsystemmenu ul.nav-pills > li.active > a:hover,
#solarsystemmenu ul.nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #C72A25;
}